@font-face {
  font-family: 'KakaoRegular';
  src: url('./fonts/KakaoRegular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: KakaoRegular;
}

.App-header button {
  font-family: KakaoRegular;
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App-header button:hover {
  background-color: #555;
}

.start-button {
  font-size: 1.2em;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

.recommendation-card {
  font-size: small;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px;
  text-align: left;
}

.recommendation-card h2 {
  margin-top: 0;
  color: #61dafb;
}

.recommendation-card p {
  font-size: 1.1em;
  line-height: 1.5;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #0056b3;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}